@import "tailwindcss";

@custom-variant dark (&:where(.dark,.dark *));

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}


/* Light Mode Colors */
@theme {
  --color-background-light: #f7f7f7;      
  --color-text-light: #333333;           
  --color-user-message-light: #4CAF50;  
  --color-bot-message-light: #3b82f6;  
  --color-input-bg-light: #ffffff;    
  --color-button-hover-light: #22c55e;
  --color-border-light: #e5e5e5;     
  --color-header-bg-light: #ffffff; 
  --color-header-text-light: #333333;  
}

/* Dark Mode Colors */
@theme {
  --color-background-dark: #1a1a1a;    
  --color-text-dark: #e5e5e5;         
  --color-user-message-dark: #66bb6a;
  --color-bot-message-dark: #3b82f6;
  --color-input-bg-dark: #2c2c2c;  
  --color-button-hover-dark: #16a34a;
  --color-border-dark: #333333;     
  --color-header-bg-dark: #2a2a2a;  
  --color-header-text-dark: #e5e5e5;
}

